<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Balance
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Balance</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>

    <ion-card-header>
      Balance
    </ion-card-header>
    <ion-card-content>
      <h1><strong>${{balance}}</strong></h1>
    </ion-card-content>
  </ion-card>
    <ion-list>
      <ion-list-header>
        Recent activities
      </ion-list-header>
      <ion-item *ngFor="let logs of logs"><ion-label><h3>${{logs.amount}}</h3> <p>{{logs.type}} on {{logs.date}}</p></ion-label></ion-item>
    </ion-list>

</ion-content>
